body {
    font-family: lato, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}
body::before {
    content: "";
    position: fixed;
    right: 0;
    width: 1000px;
    height: 1000px;
    background-image: url("../images/volleyball.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    pointer-events: none;
    z-index: -1;
}
h1 {
    color: #df00ff;
}
p{
    font-family: lato;
    font-size: 20px;
}
li {
    font-size: 20px;
}
img {
    width: 350px;
    height: 200px;
    margin: 10px;
}
