body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}
h1 {
    color: #df00ff;
}
p{
    font-family: lato;
    font-size: 20px;
}
li {
    font-size: 20px;
}
img {
    width: 300px;
    height: 200px;
    margin: 10px;
}
