body {
    font-family: lato, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}
h1 {
    color: #df00ff;
}
p{
    font-family: lato;
    font-size: 20px;
}
li {
    font-size: 20px;
}
img {
    width: 350px;
    height: 200px;
    margin: 10px;
}
.spin-ball { 
    width: 120px; 
    position: fixed; 
    right: 20px; 
    bottom: 20px; 
    animation: spin 2s linear infinite; 
} 
@keyframes spin { 
    from { transform: rotate(0deg); } 
    to { transform: rotate(360deg); } 
}
